.filters {
  &--container {
    width: 25%;
    height: 50rem;
  }

  &--wrapper {
    height: 100%;
    margin: 3rem 2rem 0 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  &__type {
    &--container {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &__select--wrapper {
      width: 80%;
    }
  }
}
