$img-scale: 1.9;

.pokemon-tile {
  &--wrapper {
    background-color: white;
    margin: 3rem 2rem;
    @media screen and (max-width: 599px) {
      margin: 2rem 1.2rem;
    }
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2.5rem;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  &__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 19rem;

    &:hover {
      .pokemon-tile__img {
        margin-top: -1.5rem;
        transition: 0.1s ease-in;
      }
    }
  }

  &__img {
    width: 9.6rem * $img-scale;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }

  &__info--wrapper {
    width: 100%;
    height: 100%;
    background-color: #ff5c41;
    border-top: 0.3rem solid #222224;
    display: flex;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &__info--wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  &__title {
    padding-left: 0.7rem;
    @media screen and (max-width: 599px) {
      font-size: 1.6rem;
    }
  }

  &__id {
    padding-right: 0.5rem;
    color: #333;
    @media screen and (max-width: 599px) {
      font-size: 1.6rem;
    }
  }

  &__type--wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
  }

  &__type {
    padding: 0.4rem 0.7rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    @media screen and (max-width: 599px) {
      font-size: 1.3rem;
    }
  }
}
