.pokemon--wrapper {
  margin: 4rem 3rem;

  border: solid 1px lightgray;
  border-radius: 2.5rem;

  .pokemon__header {
    display: flex;
    width: 100%;
    border-radius: inherit;

    border-bottom: solid 0.1rem lightgray;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:hover {
      background-color: #eeeeee;
    }

    .pokemon__image--wrapper {
      margin-left: 1.5rem;
      @media screen and (max-width: 900px) {
        margin-left: 0;
      }

      float: left;
      width: 96px;
    }

    .pokemon__name--wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .pokemon__name {
        text-align: center;
      }
    }
  }

  .pokemon__types--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .pokemon__types--text--wrapper {
      width: 100%;
      text-align: center;
    }

    .pokemon__type {
      padding: 0.3rem 1rem;
      margin: 0 0.5rem;

      border-radius: 1rem;
    }
  }

  .pokemon__stats--wrapper {
    width: 100%;
    margin-bottom: 1rem;

    .pokemon__stats__text--wrapper {
      width: 100%;
      text-align: center;
    }

    .pokemon__stats__base-stats {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      margin-bottom: 1rem;

      .weight {
        padding-right: 0.5rem;
      }

      &__item {
        display: flex;
        align-items: stretch;
      }

      &__icon {
        width: 1.8rem;
        height: 100%;
      }
    }
  }
}
