.pokemon__stats--wrapper {
  width: 100%;
  margin-bottom: 1rem;

  .pokemon__stats__text--wrapper {
    width: 100%;
    text-align: center;
  }

  .pokemon__stats__base-stats {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 1rem;

    .weight {
      padding-right: 0.5rem;
    }

    &__item {
      display: flex;
      align-items: stretch;
    }

    &__icon {
      width: 1.8rem;
      height: 100%;
    }
  }
}
