@import "colors.scss";
@import "progress.scss";
@import "grid.scss";
@import "pokemonTile.scss";
@import "pokemonDetail.scss";
@import "types.scss";
@import "stats.scss";

html {
  font-size: 62.5%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  border: none;
}

.header {
  background-color: #ef5350;
  height: 10rem;
  width: 100%;
  border-bottom: solid 0.3rem #222224;
  margin-bottom: 7rem;
  @media screen and (max-width: 1000px) {
    margin-bottom: 4rem;
  }

  &__logo--wrapper {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 3rem;
  }

  &__logo {
    height: 6rem;
    width: auto;
  }

  &__name {
    padding-left: 2rem;
    color: #222224;
  }
}

.pokedex--container {
  display: flex;
  justify-content: center;
}
.pokedex {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;

  @media screen and (max-width: 1000px) {
    width: 96%;
  }
  @media screen and (max-width: 1300px) and (min-width: 1001px) {
    width: 83%;
  }
  @media screen and (min-width: 1301px) {
    width: 77%;
  }
}
