.pokemon__types--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .pokemon__types--text--wrapper {
    width: 100%;
    text-align: center;
  }

  .pokemon__type {
    padding: 0.3rem 1rem;
    margin: 0 0.5rem;

    border-radius: 1rem;
  }
}
